<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
<div class="con-page">
    <div class="center-content">
        <!--导航栏-->
        <div class="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="../images/header-logo.png" alt="" width="138" height="14"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ><a href="#">首页<span class="sr-only">(current)</span></a></li>
                            <li><a href="#">功能介绍</a></li>
                            <li><a href="#">关于我们</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login">由此进入>></a></li>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--banner-->
        <div class="banner-con">
            <div class="banner-bg">
                <div class="banner-items">
                    <div class="logo-img">
                        <span><img src="../images/logo.png" alt="logo" width="150" height="176"></span>
                    </div>
                    <div class="banner-text">
                        <p class="banner-txt">记录生活点滴，享受精彩生活！</p>
                        <p class="banner-txt">Carpe Diem!</p>
                    </div>
                    <div class="social-contact">
                        <div class="social-title">
                            <p class="social-text">社交账号</p>
                            <img src="../images/social-title.png" alt="contact" width="206" height="18">
                        </div>
                        <div class="social-media">
                            <span class="media-items"><img src="../images/tw.png" alt=""></span>
                            <span class="media-items"><img src="../images/vi.png" alt=""></span>
                            <span class="media-items"><img src="../images/dr.png" alt=""></span>
                            <span class="media-items"><img src="../images/fb.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="bg-turn">
                    <div class="bg-item"><img src="../images/banner-bg.gif" alt="Martian-banner" width="685"  height="380"></div>
                    <div class="bg-item"><img src="../images/banner-bg2.gif" alt="Martian-banner" width="685"  height="380"></div>
                    <div class="bg-item"><img src="../images/banner-bg3.gif" alt="Martian-banner" width="685"  height="380"></div>
                    <div class="bg-item"><img src="../images/babg4.gif" alt="Martian-banner" width="685"  height="380"></div>
                    <div class="bg-item"><img src="../images/banner-bg5.gif" alt="Martian-banner" width="685"  height="380"></div>
                    </div>

            </div>

        </div>
        <!--功能介绍-->
        <div class="office-con">
            <div class="office-title">
                <p class="office-text">功能介绍</p>
                <p><img src="../images/office-title.png" alt="" width="126" height="20"></p>
            </div>
            <div class="arrow left-arrow"><img src="../images/left-arrow.png" alt="" width="21" height="42"></div>
            <div class="arrow right-arrow"><img src="../images/right-arrow.png" alt="" width="21" height="42"></div>
            <div class="office-content">
                <div class="office-show">
                    <div class="Introduction">
                        <div class="office-item tools1">
                            <div class="sign-item">
                                <img src="../images/note.gif" alt="">
                            </div>
                            <div class="icons note">
                                <div class="logo-offic">
                                    <span class="item-logo"><img src="../images/note-logo.gif" alt=""></span>
                                </div>
                            </div>
                            <div class="show-text note-text">
                                <p>随时记录生活信息，发布日常的小心情和文章。记录生活习惯和，日常琐事和美好的回忆。</p>
                            </div>

                        </div>
                        <div class="office-item tools2">
                            <div class="sign-item">
                                <img src="../images/calendar.gif" alt="">
                            </div>
                            <div class="icons calendar">
                                <div class="logo-offic">
                                    <span class="item-logo"><img src="../images/calendar-logo.gif" alt=""></span>
                                </div>
                            </div>
                            <div class="show-text calendar-text">
                                <p>合理有效的安排，你的日常时间。充分利用闲暇来享受生活。</p>
                            </div>
                        </div>
                        <div class="office-item tools3">
                            <div class="sign-item">
                                <img src="../images/plan.gif" alt="">
                            </div>
                            <div class="icons plan">
                                <div class="logo-offic">
                                    <span class="item-logo"><img src="../images/plan-logo.gif" alt=""></span>
                                </div>
                            </div>
                            <div class="show-text plan-text">
                                <p>认真规划和实践自己的人生计划和近期目标。时常督促自己成为一个更完美的人。</p>
                            </div>
                        </div>
                    </div>
                    <div class="Introduction" >
                        <div class="office-item tools4">
                            <div class="sign-item">
                                <img src="../images/fun.gif" alt="">
                            </div>
                            <div class="icons note">
                                <div class="logo-offic">
                                    <span class="item-logo"><img src="../images/fun-logo.gif" alt=""></span>
                                </div>
                            </div>
                            <div class="show-text note-text">
                                <p>留下你的印记，看过的电影和听过的音乐或一切你的娱乐项目进行合理的管理。</p>
                            </div>

                        </div>
                        <div class="office-item tools5">
                            <div class="sign-item">
                                <img src="../images/money.gif" alt="">
                            </div>
                            <div class="icons calendar">
                                <div class="logo-offic">
                                    <span class="item-logo"><img src="../images/money-logo.gif" alt=""></span>
                                </div>
                            </div>
                            <div class="show-text calendar-text">
                                <p>合理的规划和记录你的理财计划和每日花费。帮助你更好的节约资源使用。</p>
                            </div>
                        </div>
                        <div class="office-item tools6">
                            <div class="sign-item">
                                <img src="../images/health.gif" alt="">
                            </div>
                            <div class="icons plan">
                                <div class="logo-offic">
                                    <span class="item-logo"><img src="../images/health-logo.gif" alt=""></span>
                                </div>
                            </div>
                            <div class="show-text plan-text">
                                <p>制定健康计划，随时提醒自己锻炼身体和饮食健康。放松日常的压力和紧张心情。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pages">
                    <div class="page-item item1 active"></div>
                    <span><img src="../images/page-line.png" alt=""></span>
                    <div class="page-item item2"></div>
                </div>
            </div>
            <div class="office-part">
                <img src="../images/part.png" alt="" width="685">
            </div>
        </div>
        <!--关于我们-->
        <div class="about-con">
            <div class="about-title">
                <p>关于我们</p>
                <img src="../images/about-title.png" alt="">
            </div>
            <div class="about-text">
                <div class="text-box">
                    <p>关于我们，可以从社交网站上关注我们。在我们的公众账号上反馈使用的情况。
                        关于我们，可以从社交网站上关注我们。在我们的公众账号上反馈使用的情况。
                    </p>
                </div>
            </div>
            <div class="system-enter">
                <div class="enter-sign">
                    <img src="../images/sign.png" alt="">
                </div>
                <div class="enter-system">
                    <a href="/login" class="txt">ENTRANCE/由此进入</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-text">
            <p>版权所有@ChenLiang</p>
            <p>2016/02/08</p>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-2.2.0.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>